<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentos::encabezado(~{::title}, ~{})}">

    <title>Leer x(novela)</title>
</head>

<body class="darkmode">
<header th:replace="~{fragmentos::barra-nav}"></header>
<main>
    <div id="content">
        <div class="wrapper">
            <div class="postbody">
                <div class="bixbox">
                    <div class="releases">
                        <h3>Generos</h3>
                    </div>
                    <div class="advancedsearch">
                        <div class="bottom tags"  th:each=" gene : ${generos}">
                            <a class="" th:href="@{/busqueda/{genero}(genero=${gene.nombre})}">
                                <span style="vertical-align: inherit;">
                                    <span th:text="${gene.nombre}" style="vertical-align: inherit;"></span>
                                 </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bixbox">
                    <div class="releases latesthome">
                        <h3>Novelas</h3>
                    </div>
                    <div class="listupd">
                        <div class="excstf"  th:each="novela : ${novelas ?: novelasPorgenero}">
                            <div class="utao styletree">
                                <div class="uta">
                                    <div class="imgu">
                                        <a th:href="@{/novela/{nombre}(nombre=${novela.titulo})}">
                                            <img data-lazyloaded="1" th:src="${novela.imagen}" class="ts-post-image wp-post-image attachment-medium size-medium entered litespeed-loaded" loading="lazy" itemprop="image" width="120" height="170" data-ll-status="loaded">
                                        </a>
                                    </div>
                                    <div class="luf">
                                        <a class="series" th:href="@{/novela/{nombre}(nombre=${novela.titulo})}">
                                            <h3 th:text="${novela.titulo}"></h3>
                                        </a>
                                        <span th:text="${novela.sinopsis}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragmentos::footer}"></footer>
</body>

</html>