<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragmentos::encabezado(~{::title}, ~{})}">
    <title>Home</title>
</head>


<body class="darkmode">
<header th:replace="~{fragmentos::barra-nav}"></header>
<main>
    <div id="content">
        <div class="wrapper">
            <div class="postbody">
                <div class="bixbox">
                    <div class="releases latesthome">
                        <h3>Nuevas novelas</h3>
                    </div>
                    <div class="listupd">
                        <div class="excstf">
                            <article class="bs" th:each="novela : ${listaNovelasNuevas}">
                                <div class="bsx">
                                    <a th:href="@{/novela/{nombre}(nombre=${novela.titulo})}">
                                        <div class="limit">
                                            <img th:src="${novela.imagen}"  class="ts-post-image wp-post-image attachment-medium size-medium entered litespeed-loaded" width="151" height="215" >
                                        </div>
                                        <div class="tt">
                                            <span class="ntitle" th:text="${novela.titulo}"></span>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="bixbox">
                    <div class="releases latesthome">
                        <h3>Recomendadas</h3>
                    </div>
                    <div class="listupd">
                        <div class="excstf"  th:each="novela : ${listaNovelasPun}">
                            <div class="utao styletree">
                                <div class="uta">
                                    <div class="imgu">
                                        <a th:href="@{/novela/{nombre}(nombre=${novela.titulo})}">
                                            <img data-lazyloaded="1" th:src="${novela.imagen}" class="ts-post-image wp-post-image attachment-medium size-medium entered litespeed-loaded" loading="lazy" itemprop="image" width="120" height="170" data-ll-status="loaded">
                                        </a>
                                    </div>
                                    <div class="luf">
                                        <a class="series" th:href="@{/novela/{nombre}(nombre=${novela.titulo})}">
                                            <h3 th:text="${novela.titulo}"></h3>
                                        </a>
                                        <span th:text="${novela.sinopsis}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragmentos::footer}"></footer>
<th:block th:replace="fragmentos::jsfinal(~{})"></th:block>
</body>
</html>