<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentos::encabezado(~{::title}, ~{})}">

    <title>Leer x(novela)</title>
</head>
<body class="darkmode">
<header th:replace="~{fragmentos::barra-nav}"></header>
<main>
    <div id="content">
        <div class="wrapper">
            <div class="postbody">
                <div class="bixbox animefull">
                    <div class="bigcontent nobigcv" th:each=" novel : ${novelaVista}">
                        <div class="thumbook">
                            <div class="thumb">
                                <img th:src="@{${novel.imagen}}" class="ts-post-image wp-post-image attachment-medium size-medium entered litespeed-loaded"  alt="" width="370" height="500">
                            </div>
                        </div>
                        <div class="entry-content" itemprop="description">
                            <h1 th:text="${novel.titulo}"></h1>
                            <p th:text="${novel.autor}"></p>
                            <p th:text="${novel.estado}"></p>
                            <p th:text="${novel.sinopsis}"></p>
                            <a class="bottom tags" sec:authorize="isAuthenticated()" th:href="@{/bibliotecaPersonal/{nombre}(novelaId=${novel.id},nombre=${#authentication.name})}">Agregar a la biblioteca</a>
                        </div>
                    </div>
                </div>
                <div class="bixbox bxcl epcheck">
                    <div class="releases">
                        <h2 th:text="${'Leer ' + novelaVista.titulo}"></h2>
                    </div>
                    <div class="eplister eplisterfull">
                        <ul>
                            <li th:each=" capitulos : ${novelaCapitulos}">
                                <a th:href="@{/novela/{nombre_novela}/{nombre}(nombre_novela=${capitulos.novela.titulo}, novelaId=${novelaVista.id}, nombre=${capitulos.titulo})}">
                                    <div class="epl-title" th:text="${'Capitulo ' +capitulos.numero}">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
<footer th:replace="~{fragmentos::footer}"></footer>
</body>

</html>